<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1><%= @title %></h1>
    <h2>Campaign Notification for Campaign ID:<%= @campaign_id %></h2>    
    <br/>
    <p>
      <%= @description%>
    </p>
  </body>
</html>
