<h2>Your Account has been created</h2>
<hr>
<p>Hi <%= @email %>,</p>
<p>Your account has been created using following information </p>
<p>Email: <%= @email %></p>
<p>Password: <%= @password %></p>
<p>You can login from  <%= link_to "Here", new_user_session_url %></p>